<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.school.mapper.web.EvaluateManageMapper">
    <!--评价与投诉信息删除,假删除（更新状态）-->
    <update id="deleteEvaluate">
        UPDATE driver_school_evaluate
        SET
        delete_flag = true,
        mod_user_id = #{modUserId},
        mod_user = #{modUser},
        mod_time = now()
        where delete_flag = false
        and guid in
        <foreach collection="list" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </update>

    <!-- 评价与投诉信息一览 -->
    <select id="getEvaluates" resultType="com.cn.school.entity.DSEvaluate">
        SELECT
        guid,
        comments as comments,
        add_user AS addUser,
        add_time AS addTime,
        score as score,
        show_flag
        FROM
        driver_school_evaluate
        where
        delete_flag=FALSE
    </select>

    <!-- 学员添加评价与投诉 -->
    <insert id="addEvaluate">
        INSERT INTO driver_school_evaluate(
            comments,
            score,
            add_user_id,
            add_user,
            add_time,
            mod_user_id,
            mod_user,
            mod_time
            )
            VALUES
            (
                #{dsEvaluate.comments},
                #{dsEvaluate.score},
                #{dsEvaluate.addUserId},
                #{dsEvaluate.addUser},
                #{dsEvaluate.addTime},
                #{dsEvaluate.modUserId},
                #{dsEvaluate.modUser},
                #{dsEvaluate.modTime}
            );
    </insert>
    <!-- 学员浏览评价与投诉 -->
    <select id="stuGetEvaluates" resultType="com.cn.school.entity.DSEvaluate">
        SELECT
        comments as comments,
        add_user AS addUser,
        add_time AS addTime,
        score as score
        FROM
        driver_school_evaluate
        where show_flag = 1
        AND delete_flag=FALSE
    </select>
    <!-- 查看评价与投诉详细 -->
    <select id="getEvaluate" resultType="com.cn.school.entity.DSEvaluate">
        SELECT
        comments as comments,
        add_user AS addUser,
        add_time AS addTime,
        score as score
        FROM
        driver_school_evaluate
        where delete_flag=FALSE
        AND add_user = #{dsEvaluate.addUser}
    </select>
</mapper>