<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.school.mapper.web.GroupPurchaseMapper">

    <!--管理员生成团购活动内容，内容信息只能由管理员添加-->
    <insert id="addGroupPurchase">
        INSERT INTO driver_school_grp_purchase(
            gp_name,
            people_num,
            driver_level,
            aggregate_amount,
            issue,
            coupon,
            add_user_id,
            add_user,
            add_time,
            mod_user_id,
            mod_user,
            mod_time
            )
            VALUES
            (
                #{dsGrpPurchase.gpNname},
                #{dsGrpPurchase.peopleNum},
                #{dsGrpPurchase.driverLevel},
                #{dsGrpPurchase.aggregateAmount},
                #{dsGrpPurchase.issue},
                #{dsGrpPurchase.coupon},
                #{dsGrpPurchase.addUserId},
                #{dsGrpPurchase.addUser},
                #{dsGrpPurchase.addTime},
                #{dsGrpPurchase.modUserId},
                #{dsGrpPurchase.modUser},
                #{dsGrpPurchase.modTime}
            );
    </insert>

    <!--查看用户个人信息（根据guid）-->
    <select id="getUser" resultType="com.cn.school.entity.DSGrpPurchase">
        SELECT
        user_name AS userName,
        password AS password,
        mobile_phone AS mobilePhone,
        id_card AS idCard,
        status AS status,
        role AS role,
        add_user_id AS addUserId,
        add_user AS addUser,
        add_time AS addTime,
        mod_user_id AS modUserId,
        mod_user AS modUser,
        mod_time AS modTime,
        delete_flag AS deleteFlag
        FROM
        driver_school_user
        where delete_flag=FALSE
        <if test="guid != null and '' != guid">
            AND guid=#{guid}
        </if>
    </select>
    <!--用户修改个人信息-->
    <update id="updateUsers">
        UPDATE driver_school_user
        <trim prefix="set" suffixOverrides=",">
            <if test="mobilePhone != null and '' != mobilePhone">
                mobile_phone=#{mobilePhone},
            </if>
            <if test="idCard != null and '' != idCard">
                id_card=#{idCard},
            </if>
            <if test="password != null and '' != password">
                password=#{password},
            </if>
        </trim>
        where
        guid=#{guid}
    </update>

    <!--教练员一览-->
    <select id="getCoachs" resultType="com.cn.school.entity.DSUser">
        SELECT
        guid AS guid,
        user_name AS userName,
        mobile_phone AS mobilePhone,
        id_card AS idCard,
        status AS status,
        role AS role,
        add_user_id AS addUserId,
        add_user AS addUser,
        add_time AS addTime,
        mod_user_id AS modUserId,
        mod_user AS modUser,
        mod_time AS modTime,
        delete_flag AS deleteFlag
        FROM
        driver_school_user
        where role=2
        <if test="dsUser.userName != null and '' != dsUser.userName">
            AND user_name=#{dsUser.userName}
        </if>
        <if test="dsUser.mobilePhone != null and '' != dsUser.mobilePhone">
            AND mobile_phone=#{dsUser.mobilePhone}
        </if>
        <if test="dsUser.idCard != null and '' != dsUser.idCard">
            AND id_card=#{dsUser.idCard}
        </if>
        <if test="dsUser.status != null and '' != dsUser.status">
            AND status=#{dsUser.status}
        </if>
        AND delete_flag=FALSE
    </select>
    <!--教练员删除,假删除（更新状态）-->
    <update id="deleteCoach">
        UPDATE driver_school_user
        SET
        delete_flag = true,
        mod_user_id = #{dsUser.modUserId},
        mod_user = #{dsUser.modUser},
        mod_time = #{dsUser.modTime}
        WHERE
            id_card = #{dsUser.idCard}
            AND role = 2 AND delete_flag = FALSE
    </update>
    <!--教练员详情查看-->
    <select id="getCoach" resultType="com.cn.school.entity.DSUser">
        SELECT
        guid AS guid,
        user_name AS userName,
        mobile_phone AS mobilePhone,
        id_card AS idCard,
        status AS status,
        role AS role,
        add_user_id AS addUserId,
        add_user AS addUser,
        add_time AS addTime,
        mod_user_id AS modUserId,
        mod_user AS modUser,
        mod_time AS modTime,
        delete_flag AS deleteFlag
        FROM
        driver_school_user
        where role=2
        <if test="dsUser.guid != null and '' != dsUser.guid">
            AND guid=#{dsUser.guid}
        </if>
        <if test="dsUser.userName != null and '' != dsUser.userName">
            AND user_name=#{dsUser.userName}
        </if>
        <if test="dsUser.mobilePhone != null and '' != dsUser.mobilePhone">
            AND mobile_phone=#{dsUser.mobilePhone}
        </if>
        <if test="dsUser.idCard != null and '' != dsUser.idCard">
            AND id_card=#{dsUser.idCard}
        </if>
        AND delete_flag=FALSE
    </select>
    <!--教练员信息修改（只能由管理员修改）-->
    <update id="updateCoach">
        UPDATE driver_school_user
        set
        <if test="dsUser.userName != null and '' != dsUser.userName">
            user_name=#{dsUser.userName},
        </if>
        <if test="dsUser.password != null and '' != dsUser.password">
            password=#{dsUser.password},
        </if>
        <if test="dsUser.mobilePhone != null and '' != dsUser.mobilePhone">
            mobile_phone=#{dsUser.mobilePhone},
        </if>
        <if test="dsUser.idCard != null and '' != dsUser.idCard">
            id_card=#{dsUser.idCard},
        </if>
        <if test="dsUser.status != null and '' != dsUser.status">
            status=#{dsUser.status},
        </if>
        <if test="dsUser.modUserId != null and '' != dsUser.modUserId">
            mod_user_id=#{dsUser.modUserId},
        </if>
        <if test="dsUser.modUser != null and '' != dsUser.modUser">
            mod_user=#{dsUser.modUser},
        </if>
        mod_time=#{dsUser.modTime}
        where role=2 AND guid=#{dsUser.guid}
    </update>
</mapper>