<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.school.mapper.web.OrderManageMapper">

    <!--查看订单信息（可以根据status）
    <select id="getOrders" resultType="com.cn.school.entity.DSOrder">
        SELECT
        guid,
        mch_id as mchId,
        out_trade_no as outTradeNo,
        body as body,
        attach as attach,
        total_fee as totalFee,
        notify_url as notifyUrl,
        time_start as timeStart,
        time_expire as timeExpire,
        goods_tag as goodsTag,
        status as status,
        add_user_id as addUserId,
        add_user as addUser
        FROM
        driver_school_order
        where delete_flag=FALSE
        <if test="dsOrder.status != null and '' != dsOrder.status">
            AND status=#{dsOrder.status}
        </if>
        <if test="dsOrder.mchId != null and '' != dsOrder.mchId">
            AND mch_id=#{dsOrder.mchId}
        </if>
        <if test="dsOrder.opShopId != null and '' != dsOrder.opShopId">
            AND op_shop_id=#{dsOrder.opShopId}
        </if>
    </select>-->
    <select id="getOrders" resultType="com.cn.school.dto.info.bo.ManageOrderBO">
    SELECT
    DSO.guid AS guid,
    DSS.user_name AS userName,
    DSS.mobile_phone AS mobilePhone,
    DSS.id_card AS idCard,
    DSS.driver_level AS driverLevel,
    DSS.payable AS payable,
    DSS.paid AS paid,
    DSO.out_trade_no AS outTradeNo,
    DSO.attach,
    DSO.time_expire AS timeExpire,
    DSO.time_start AS timeStart,
    DSO.body,
    DSO.status,
    DSO.add_time AS dso_add_time,
    DSO.total_fee AS totalFee
    FROM
    driver_school_students DSS
    INNER JOIN driver_school_students_order DSSO ON DSSO.students_guid = DSS.guid
    INNER JOIN driver_school_order DSO ON DSO.guid = DSSO.order_guid ORDER BY guid ASC
    </select>
    <!--修改订单状态 0，有效  1，失效-->
    <update id="updateOrderStatus">
        UPDATE driver_school_order
        set
        status = #{status},
        mod_user = #{modUser},
        mod_user_id = #{modUserId},
        mod_time = now()
        where
        guid in
        <foreach collection="list" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
        and delete_flag = false
    </update>

</mapper>