<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.school.mapper.wx.OrderMapper">

    <!-- 添加订单 -->
    <insert id="addOrder">
        INSERT INTO driver_school_order(
            service,
            version,
            charset,
            sign_type,
            mch_id,
            is_raw,
            is_minipg,
            out_trade_no,
            device_info,
            op_user_id,
            op_shop_id,
            body,
            sub_openid,
            sub_appid,
            attach,
            total_fee,
            need_receipt,
            mch_create_ip,
            notify_url,
            time_start,
            time_expire,
            goods_tag,
            nonce_str,
            limit_credit_pay,
            sign,
            status,
            add_user_id,
            add_user,
            add_time,
            mod_user_id,
            mod_user,
            mod_time
            )
            VALUES
            (
                #{dsOrder.service},
                #{dsOrder.version},
                #{dsOrder.charset},
                #{dsOrder.signType},
                #{dsOrder.mchId},
                #{dsOrder.isRaw},
                #{dsOrder.isMinipg},
                #{dsOrder.outTradeNo},
                #{dsOrder.deviceInfo},
                #{dsOrder.opUserId},
                #{dsOrder.opShopId},
                #{dsOrder.body},
                #{dsOrder.subOpenid},
                #{dsOrder.subAppid},
                #{dsOrder.attach},
                #{dsOrder.totalFee},
                #{dsOrder.needReceipt},
                #{dsOrder.mchCreateIp},
                #{dsOrder.notifyUrl},
                #{dsOrder.timeStart},
                #{dsOrder.timeExpire},
                #{dsOrder.goodsTag},
                #{dsOrder.nonceStr},
                #{dsOrder.limitCreditPay},
                #{dsOrder.sign},
                #{dsOrder.status},
                #{dsOrder.addUserId},
                #{dsOrder.addUser},
                #{dsOrder.addTime},
                #{dsOrder.modUserId},
                #{dsOrder.modUser},
                #{dsOrder.modTime}
            );
    </insert>

</mapper>