<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.school.mapper.web.StagesManageMapper">
    <!--添加分期优惠-->

    <insert id="addStages">

        <selectKey keyProperty="dSstages.guid" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>

        INSERT INTO driver_school_stages (
        name,
        issues,
        status,
        add_user_id,
        add_user,
        add_time,
        mod_user_id,
        mod_user,
        mod_time,
        delete_flag
        )
        VALUES
        (
        #{dSstages.name},
        #{dSstages.issues},
        #{dSstages.status},
        #{dSstages.addUserId},
        #{dSstages.addUser},
        #{dSstages.addTime},
        #{dSstages.modUserId},
        #{dSstages.modUser},
        #{dSstages.modTime},
        #{dSstages.deleteFlag}
        )
    </insert>

    <!--添加分期优惠子表-->
    <insert id="addStagesItem">
        INSERT INTO driver_school_stages_item (
        stage_guid,
        repay_amount,
        Repay_issue,
        add_user_id,
        add_user,
        add_time,
        mod_user_id,
        mod_user,
        mod_time,
        delete_flag
        )
        VALUES
        <foreach item="dsStagesItem" collection="dsStagesItem" separator=",">
            (
            #{dsStagesItem.stageGuid},
            #{dsStagesItem.repayAmount},
            #{dsStagesItem.repayIssue},
            #{dsStagesItem.addUserId},
            #{dsStagesItem.addUser},
            #{dsStagesItem.addTime},
            #{dsStagesItem.modUserId},
            #{dsStagesItem.modUser},
            #{dsStagesItem.modTime},
            false
            )
        </foreach>
    </insert>


    <!--删除分期优惠子表-->
    <update id="deleteStagesItem">
        UPDATE driver_school_stages_item
        set
        delete_flag = true,
        mod_user = #{modUser},
        mod_user_id = #{modUserId},
        mod_time = now()
        where delete_flag = false
        and stage_guid in
        <foreach collection="list" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </update>

    <update id="deleteStages">
        update driver_school_stages
        set
        delete_flag = true ,
        mod_user_id = #{modUserId},
        mod_user = #{modUser},
        mod_time = now()
        where delete_flag = false
        and guid in
        <foreach collection="list" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </update>

    <!--启用分期优惠-->
    <update id="updateStagesEnable">
        UPDATE driver_school_stages
        set
        status = 1,
        mod_user = #{modUser},
        mod_user_id = #{modUserId},
        mod_time = now()
        where delete_flag = false
        and guid in
        <foreach collection="list" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
        and status = 0
    </update>
    <!--停用分期优惠-->
    <update id="updateStagesUnEnable">
        UPDATE driver_school_stages
        set
        status = 0,
        mod_user = #{modUser},
        mod_user_id = #{modUserId},
        mod_time = now()
        where
        guid in
        <foreach collection="list" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
        and status = 1
        and delete_flag = false
    </update>
    <!--查看分期活动详情（根据guid，name）-->
    <select id="getStagesInfo" resultType="com.cn.school.entity.DSStages">
        SELECT
        guid as guid,
        name as name,
        issues as issues,
        status AS status,
        add_user_id AS addUserId,
        add_user AS addUser,
        add_time AS addTime,
        mod_user_id AS modUserId,
        mod_user AS modUser,
        mod_time AS modTime
        FROM
        driver_school_stages
        where delete_flag = false
        <if test="dSstages.name != null and '' != dSstages.name">
            AND name like '%#{dSstages.name}%'
        </if>
        <if test="dSstages.guid != null and '' != dSstages.guid">
            and guid = #{dSstages.guid}
        </if>
        <if test="dSstages.addTime != null and '' != dSstages.addTime">
            and add_time = #{dSstages.addTime}
        </if>
    </select>
    <!--分期信息一览L-->
    <select id="getStagesList" resultType="java.util.List">
        SELECT
        guid as guid,
        name as name,
        issues as issues,
        status AS status,
        FROM
        driver_school_stages
        where
        delete_flag=FALSE
        <if test="dSstages.status != null and '' != dSstages.status">
            and status = #{dSstages.status}
        </if>
        <if test="dSstages.costId != null and '' != dSstages.costId">
            and cost_id = #{dSstages.costId}
        </if>
    </select>
    <!--根据costid 获取分期id-->
    <select id="getStagesIdByCostId" resultType="java.lang.Long">

        SELECT
            guid
        FROM
            driver_school_stages
        WHERE
            cost_id in
            <foreach collection="list" open="(" close=")" separator="," item="item">
            #{item}
            </foreach>
        AND delete_flag = FALSE

    </select>
    <!--修改主表-->
    <update id="updateStages">
        UPDATE driver_school_stages
        set
        name = #{dSstages.name},
        issues = #{dSstages.issues},
        mod_user = #{dSstages.modUser},
        mod_user_id = #{dSstages.modUserId},
        mod_time = #{dSstages.modTime}
        where
        guid = #{dSstages.guid}
        and delete_flag = 0
    </update>

    <!--删除子表数据-->
    <delete id="moveStagesItem">
        delete
        from driver_school_stages_item
        where
        stage_guid = #{dSstages.guid}
    </delete>
    <delete id="deleteStagesByCostId">
        update driver_school_stages
        set
        delete_flag = true ,
        mod_user_id = #{modUserId},
        mod_user = #{modUser},
        mod_time = now()
        where delete_flag = false
        and cost_id in
        <foreach collection="list" open="(" close=")" separator="," item="item">
            #{item}
        </foreach>
    </delete>

</mapper>