<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.school.mapper.wx.StudentsOrderMapper">

    <insert id="addStudentsOrder">
        <selectKey keyProperty="po.guid" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO driver_school_students_order (
        students_guid,
        order_guid,
        add_user_id,
        add_user,
        add_time,
        mod_user_id,
        mod_user,
        mod_time
        )
        VALUES
        (
        #{po.studentsGuid},
        #{po.orderGuid},
        #{po.addUserId},
        #{po.addUser},
        #{po.addTime},
        #{po.modUserId},
        #{po.modUser},
        #{po.modTime}
        );
    </insert>
    <!--学院查看个人信息及缴费情况-->
    <select id="getStudentOrderInfo" resultType="com.cn.school.entity.DSStudentsOrder">
        SELECT
            DSS.guid AS guid,
            DSS.user_name AS userName,
            DSS.mobile_phone AS mobilePhone,
            DSS.id_card AS idCard,
            DSS.driver_level AS driverLevel,
            DSS.payable AS payable,
            DSS.paid AS paid,
            DSO.add_time AS dso_add_time,
            DSO.total_fee AS totalFee,
            DSO.status AS status
        FROM
	        driver_school_students DSS
        LEFT JOIN driver_school_students_order DSSO ON DSSO.students_guid = DSS.guid
        LEFT JOIN driver_school_order DSO ON DSO.guid = DSSO.order_guid
        <if test="idCard != null and '' != idCard and userName != null and '' != userName">
            WHERE DSS.id_card = #{idCard}
            AND DSS.user_name=#{userName}
        </if>
        <if test="openId != null and '' != openId">
            WHERE DSS.openId = #{openId}
        </if>
    </select>
</mapper>