<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.school.mapper.web.StudentManageMapper">
    <!--学员删除,假删除（更新状态）-->
    <update id="deleteStudent">
        UPDATE driver_school_students
        SET
        delete_flag = true,
        mod_user_id = #{dsStudents.modUserId},
        mod_user = #{dsStudents.modUser},
        mod_time = #{dsStudents.modTime}
        WHERE AND delete_flag = FALSE
        <if test="dsStudents.idCard != null and '' != dsStudents.idCard">
            AND id_card=#{dsStudents.idCard}
        </if>
        <if test="dsStudents.guid != null and '' != dsStudents.guid">
            and guid=#{dsStudents.guid}
        </if>
        <if test="dsStudents.userName != null and '' != dsStudents.userName">
            AND user_name=#{dsStudents.userName}
        </if>

    </update>

    <!-- 管理员修改学员信息 -->
    <update id="updateStudent">
        UPDATE driver_school_students
        SET
        <if test="dsStudents.userName != null and '' != dsStudents.userName">
            user_name=#{dsStudents.userName},
        </if>
        <if test="dsStudents.mobilePhone != null and '' != dsStudents.mobilePhone">
            mobile_phone=#{dsStudents.mobilePhone},
        </if>
        <if test="dsStudents.idCard != null and '' != dsStudents.idCard">
            id_card=#{dsStudents.idCard},
        </if>
        <if test="dsStudents.status != null and '' != dsStudents.status">
            status=#{dsStudents.status},
        </if>
        mod_user=#{dsStudents.modUser},
        mod_user_id=#{dsStudents.modUserId},
        mod_time=#{dsStudents.modTime}
        WHERE
        delete_flag=FALSE
        <!--<if test="dsStudents.idCard != null and '' != dsStudents.idCard">-->
            <!--AND id_card=#{dsStudents.idCard}-->
        <!--</if>-->
        <if test="dsStudents.guid != null and '' != dsStudents.guid">
            and guid=#{dsStudents.guid}
        </if>
    </update>

    <!--查看学员信息（根据guid或id_card或username）-->
    <select id="getStudent" resultType="com.cn.school.entity.DSStudents">
        SELECT
        guid AS guid,
        user_name AS userName,
        mobile_phone AS mobilePhone,
        id_card AS idCard,
        status AS status,
        add_user_id AS addUserId,
        add_user AS addUser,
        add_time AS addTime,
        mod_user_id AS modUserId,
        mod_user AS modUser,
        mod_time AS modTime,
        delete_flag AS deleteFlag
        FROM
        driver_school_students
        where delete_flag=FALSE
        <if test="dsStudents.idCard != null and '' != dsStudents.idCard">
            AND id_card=#{dsStudents.idCard}
        </if>
        <if test="dsStudents.guid != null and '' != dsStudents.guid">
            and guid=#{dsStudents.guid}
        </if>
        <if test="dsStudents.userName != null and '' != dsStudents.userName">
            AND user_name=#{dsStudents.userName}
        </if>
    </select>
    <!--学员信息一览L-->
    <select id="getStudentList" resultType="com.cn.school.entity.DSStudents">
        SELECT
        guid AS guid,
        user_name AS userName,
        mobile_phone AS mobilePhone,
        id_card AS idCard,
        status AS status,
        add_user_id AS addUserId,
        add_user AS addUser,
        add_time AS addTime,
        mod_user_id AS modUserId,
        mod_user AS modUser,
        mod_time AS modTime,
        delete_flag AS deleteFlag
        FROM
        driver_school_students
        where delete_flag=FALSE
        <if test="dsStudents.userName != null and '' != dsStudents.userName">
            AND user_name=#{dsStudents.userName}
        </if>
        <if test="dsStudents.mobilePhone != null and '' != dsStudents.mobilePhone">
            AND mobile_phone=#{dsStudents.mobilePhone}
        </if>
        <if test="dsStudents.idCard != null and '' != dsStudents.idCard">
            AND id_card=#{dsStudents.idCard}
        </if>
        <if test="dsStudents.status != null and '' != dsStudents.status">
            AND status=#{dsStudents.status}
        </if>
    </select>

</mapper>