<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.school.mapper.wx.StudentsMapper">
    <insert id="addStudents">

        <selectKey keyProperty="po.guid" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO driver_school_students (
        openId,
        user_name,
        mobile_phone,
        id_card,
        driver_level,
        payable,
        status,
        stages_guid,
        add_user_id,
        add_user,
        add_time,
        mod_user_id,
        mod_user,
        mod_time,
        delete_flag
        )
        VALUES
        (
        #{po.openId},
        #{po.userName},
        #{po.mobilePhone},
        #{po.idCard},
        #{po.driverLevel},
        #{po.payable},
        #{po.status},
        #{po.stagesGuid},
        #{po.addUserId},
        #{po.addUser},
        #{po.addTime},
        #{po.modUserId},
        #{po.modUser},
        #{po.modTime},
        #{po.deleteFlag}
        );
    </insert>

    <update id="updateStudentInfo">
        UPDATE driver_school_students
        SET driver_level = #{po.driverLevel},
        payable = #{po.payable},
        <if test="po.stagesGuid != null and '' != po.stagesGuid">
            stages_guid=#{po.stagesGuid},
        </if>
        mod_user_id=#{po.modUserId},
        mod_user=#{po.modUser},
        mod_time=#{po.modTime}
        WHERE
        guid = #{po.guid}
        AND delete_flag = FALSE
    </update>
    <select id="getMobileOnly" resultType="java.lang.Integer">
        SELECT
            COUNT(DSS.mobile_phone) as count
        FROM
              driver_school_students DSS
	        INNER JOIN driver_school_students_order DSSO ON DSSO.students_guid = DSS.guid
            INNER JOIN driver_school_order DSO ON DSO.guid = DSSO.order_guid
            WHERE  DSS.delete_flag = FALSE AND DSO.status = 1
            AND DSS.mobile_phone = #{mobilePhone} and (DSS.id_card=#{idCard} OR DSS.openId = #{openId})
    </select>
    <!--修改学生表支付状态-->
    <update id="updateStudentStatus">
        UPDATE driver_school_students
        SET STATUS = 1
        WHERE
            guid in (
        SELECT
            DSSO.students_guid
        FROM
        driver_school_students_order DSSO
        INNER JOIN driver_school_order DSO ON DSO.guid = DSSO.order_guid
        WHERE DSO.guid=#{guid})
    </update>

</mapper>