<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cn.school.mapper.wx.UserMapper">
    <insert id="insertUser">
        INSERT INTO driver_school_user (
            user_name,
            mobile_phone,
            id_card,
            status,
            role,
            add_user_id,
            add_user,
            add_time,
            mod_user_id,
            mod_user,
            mod_time,
            delete_flag
        )
        VALUES
            (
                #{po.userName},
                #{po.mobilePhone},
                #{po.idCard},
                #{po.status},
                #{po.role},
                #{po.addUserId},
                #{po.addUser},
                #{po.addTime},
                #{po.modUserId},
                #{po.modUser},
                #{po.modTime},
                #{po.deleteFlag}
            );
    </insert>


    <select id="getUserInfoByTel" resultType="com.cn.school.entity.DSUser">
        SELECT
            guid,
            user_name AS userName,
            mobile_phone AS mobilePhone,
            password,
            status,
            salt,
            role
        FROM
            driver_school_user
        WHERE
            mobile_phone = #{mobilePhone}
        AND delete_flag = FALSE
    </select>

    <update id="updateTime">

    </update>
</mapper>